$white:   #fff   !default;
$blue:    #007bff !default;
$indigo:  #686896 !default;
$purple:  #6f42c1 !default;
$pink:    #ea77e6 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$violet:       #061222f2 !default;
$darkviolet:   #07080d   !default;
$lightviolet:  #8c76d8   !default;
$ightindigo:   #c5bfed   !default;
$lightviolet-1: #8b76d88a  !default;
$lightping:    #d528d0   !default;
$violetbody:   #06101fd2 !default;
$shade-10:     #2c3e50   !default;