
@media screen and (max-width: 1024px) {
  div.eggglow {
    margin-left: 20%;
  }
  footer {
    margin-top: 30%;
  }
  .socials {
    filter: grayscale(0);
  }
}
@media screen and (max-width: 992px) {
  .none  {
    transform: scale(0.7, 0.7);
  }
}
@media screen and (max-width: 1199px) {
  img.bottle {
    margin: 0 65%;
  }
}
@media screen and (max-width: 600px) {
  .glide, canvas {
    display: none !important;
  }
  img.bottle {
    margin: auto;
  }
}
