
@media screen and (max-width: 1024px) {
  div.eggglow {
    margin-left: 20%;
  }
  footer {
    margin-top: 30%;
  }
  .socials {
    filter: grayscale(0);
  }
}
@media screen and (min-width: 992px) {
  .navbar-brand {
    padding: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  .glide {
    display: none;
  }
}
