
@media screen and (max-width: 989px) {
  .col {
    margin-left: 25%;
  }
  footer {
    margin-top: 20%;
  }
  .socials {
    filter: grayscale(0);
  }
}
@media screen and (min-width: 992px) {
  .navbar-brand {
    padding: 0 5%;
  }
}
