body {
  background: -webkit-gradient(linear, 0 0, 100% 100%, from(#06101ff2), to(#061222f2));

  background: -webkit-linear-gradient(top left, #06101ff2, #061222f2);
  background: -moz-linear-gradient(top left, #06101ff2, #061222f2);
  background: -o-linear-gradient(top left, #06101ff2, #061222f2);
  background: -ms-linear-gradient(top left, #06101ff2, #061222f2);
  background: linear-gradient(to bottom right, #06101ff2, #061222f2);
}